
extends layout

block content

    - let ord = 0
    pre    ORD      NOMBRE        DIRECCION        TELEFONO
    each usuario in users
        pre #{ord} #{usuario.nombre}        #{usuario.direccion}        #{usuario.telefono}
        - ord++




